.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border : 0;
  text-transform: uppercase;
  transition: all 500ms;

  &-primary {
    background-color: $colorAccentYellow;
    color: $colormainBlack;

    font-family: 'Industry-Bold';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

