$colormainBlack: #1C1A1D;
$colorModalContentBlack: #1B1C1F;
$colorAccentYellow: #FFCC00;
$colorSecondaryGrey: #555555;
$colorWhite: #ffffff;
$colorFontLightGrey: #F0F0F0;
$colorButtonBorderGrey: #616060;
